<%= link_to("<<Back to list", {:action=>"list"}, :class=>"back-links") %>
<div class="Student Update">
<h2>Create Students</h2>
<%= form_for(:student, :url=>{:action=>"update", :id=>@student.id}) do |f| %>


<%= render(:partial=>"tabletofill", :locals=>{:f=>f}) %>



<p> * fields marked with asterisk are compulsary fields</p>


	<div class="form_buttons">

	<%=submit_tag("Update Student info") %>

	</div>
<% end -%>
</div>

<div id="errors" style="color:red">
	<% @student.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>