<%= link_to("<<Back to list", {:action=>"list"}, :class=>"back-links") %>
<div class="Student new">
<h2>Create Students</h2>
<%= form_for(:student, :url=>{:action=>"create"}) do |f| %>




<%= render(:partial=>"tabletofill", :locals=>{:f=>f}) %>

<p> * fields marked with asterisk are compulsary fields</p>

	<div class="form_buttons">

	<%=submit_tag("Create Student") %>

	</div>
<% end -%>
</div>

<div id="errors" style="color:red">
	<% @student.errors.full_messages.each do |err| %>
    	*<%= err %><br />
    <% end %>
</div>