<%= link_to("<<Back to list", {:action=>"list"}, :class=>"back-links") %>
<div class="student show">
<h2>Show students</h2>
<table summary="student detail view">

<tr >
<th>Name</th>
<td><%=@student.name %></td>
</tr>

<tr >
<th>Username</th>
<td><%=@student.username %></td>
</tr>

<tr >
<th>Standard</th>
<td><%=@student.standard %></td>
</tr>

<tr >
<th>Section</th>
<td><%=@student.section %></td>
</tr>

<tr >
<th>Email</th>
<td><%=@student.email %></td>
</tr>

<tr >
<th>Mobile</th>
<td><%=@student.mobile %></td>
</tr>

<tr >
<th>Created</th>
<td><%=@student.created_at %></td>
</tr>

<tr >
<th>Updated</th>
<td><%=@student.updated_at %></td>
</tr>
 
</table>
</div>
